<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @beer_style.name %>
</p>

<p>
  <b>Og hi:</b>
  <%= @beer_style.og_hi %>
</p>

<p>
  <b>Og lo:</b>
  <%= @beer_style.og_lo %>
</p>

<p>
  <b>Fg lo:</b>
  <%= @beer_style.fg_lo %>
</p>

<p>
  <b>Fg hi:</b>
  <%= @beer_style.fg_hi %>
</p>

<p>
  <b>Abv lo:</b>
  <%= @beer_style.abv_lo %>
</p>

<p>
  <b>Abv hi:</b>
  <%= @beer_style.abv_hi %>
</p>

<p>
  <b>Ibu lo:</b>
  <%= @beer_style.ibu_lo %>
</p>

<p>
  <b>Ibu hi:</b>
  <%= @beer_style.ibu_hi %>
</p>

<p>
  <b>Srm lo:</b>
  <%= @beer_style.srm_lo %>
</p>

<p>
  <b>Srm hi:</b>
  <%= @beer_style.srm_hi %>
</p>

<p>
  <b>Aroma:</b>
  <%= @beer_style.aroma %>
</p>

<p>
  <b>Appearance:</b>
  <%= @beer_style.appearance %>
</p>

<p>
  <b>Flavor:</b>
  <%= @beer_style.flavor %>
</p>

<p>
  <b>Mouthfeel:</b>
  <%= @beer_style.mouthfeel %>
</p>

<p>
  <b>Overall impression:</b>
  <%= @beer_style.overall_impression %>
</p>

<p>
  <b>Comments:</b>
  <%= @beer_style.comments %>
</p>

<p>
  <b>History:</b>
  <%= @beer_style.history %>
</p>


<%= link_to 'Edit', edit_beer_style_path(@beer_style) %> |
<%= link_to 'Back', beer_styles_path %>
