<h1>Listing hops</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Aa lo</th>
    <th>Aa hi</th>
    <th>Characteristics</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hops.each do |hop| %>
  <tr>
    <td><%= hop.name %></td>
    <td><%= hop.aa_lo %></td>
    <td><%= hop.aa_hi %></td>
    <td><%= hop.characteristics %></td>
    <td><%= hop.description %></td>
    <td><%= link_to 'Show', hop %></td>
    <td><%= link_to 'Edit', edit_hop_path(hop) %></td>
    <td><%= link_to 'Destroy', hop, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hop', new_hop_path %>
