<h1>Listing ingredient_hops</h1>

<table>
  <tr>
    <th>Weight</th>
    <th>Boil time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ingredient_hops.each do |ingredient_hop| %>
  <tr>
    <td><%= ingredient_hop.weight %></td>
    <td><%= ingredient_hop.boil_time %></td>
    <td><%= link_to 'Show', ingredient_hop %></td>
    <td><%= link_to 'Edit', edit_ingredient_hop_path(ingredient_hop) %></td>
    <td><%= link_to 'Destroy', ingredient_hop, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ingredient hop', new_ingredient_hop_path %>
