<h1>Listing grains</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Lovibond lo</th>
    <th>Lovibond hi</th>
    <th>Gu lo</th>
    <th>Gu hi</th>
    <th>Characteristics</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grains.each do |grain| %>
  <tr>
    <td><%= grain.name %></td>
    <td><%= grain.lovibond_lo %></td>
    <td><%= grain.lovibond_hi %></td>
    <td><%= grain.gu_lo %></td>
    <td><%= grain.gu_hi %></td>
    <td><%= grain.characteristics %></td>
    <td><%= grain.description %></td>
    <td><%= link_to 'Show', grain %></td>
    <td><%= link_to 'Edit', edit_grain_path(grain) %></td>
    <td><%= link_to 'Destroy', grain, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grain', new_grain_path %>
